<h1>Simple CRUD Example</h1>

<app-home-form></app-home-form>

<h2>Article Details</h2>
<span>Total: {{ count$ | async }}</span>
<div class="articles-table">
  <div class="articles-table-row">
    <div *ngFor="let title of ['ID', 'Title', 'Category', '', '']" class="articles-table-header">{{title}}</div>
  </div>

  <div *ngFor="let article of articles$ | async; trackBy: trackByArticles" class="articles-table-row">
    <div class="articles-table-data">{{article.id}}</div>
    <div class="articles-table-data">{{article.title}}</div>
    <div class="articles-table-data">{{article.category}}</div>
    <div class="articles-table-data">
      <button (click)="edit(article)" [disabled]="loading$ | async">Edit</button>
    </div>
    <div class="articles-table-data">
      <button (click)="delete(article)" [disabled]="loading$ | async">Delete</button>
    </div>
  </div>
</div>

<span *ngIf="loading$ | async">loading...</span>
